<p-select
  [ngModel]="value()"
  (ngModelChange)="onValueChange($event)"
  [inputId]="triggerId()"
  [options]="candidates()"
  optionLabel="label"
  optionValue="value"
  [filter]="true"
  filterBy="label"
  [showClear]="true"
  [fluid]="true"
  placeholder="None"
>
  <ng-template pTemplate="selectedItem" let-option>
    <div class="parent-option">
      <app-initials-avatar [fullName]="option?.label" [color]="option?.data?.color" size="md" />
      <span class="option-label">{{ option?.label }}</span>
    </div>
  </ng-template>
  <ng-template pTemplate="item" let-option>
    <div class="parent-option">
      <app-initials-avatar [fullName]="option.label" [color]="option.data.color" size="md" />
      <span class="option-label">{{ option.label }}</span>
    </div>
  </ng-template>
</p-select>
