.parent-option {
  display: flex;
  align-items: center;
  gap: var(--ngd-token-spacing-dropdown-wrap-s-gap);
  overflow: hidden;
}

.option-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
