@switch (variant()) {
  @case ('long') {
    <svg
      style="width: 10%; height: 10%; position: absolute; top: 15%; left: 46%"
      width="32"
      height="40"
      viewBox="0 0 32 40"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M16.5 3C16.5 17 23.5 28 23.5 28C23.5 28 20 34 10 32"
        stroke="#171921"
        stroke-width="4"
      />
    </svg>
  }
  @case ('round') {
    <svg
      style="width: 10%; height: 10%; position: absolute; top: 15%; left: 46%"
      width="32"
      height="40"
      viewBox="0 0 32 40"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M12.307 12.3397C17.753 11.0993 26.6843 12.9603 24.7238 22.8833C22.9813 31.7023 13.6141 32.1857 11 29.7048"
        stroke="black"
        stroke-width="4"
      />
    </svg>
  }
  @default {
    <svg
      style="width: 10%; height: 10%; position: absolute; top: 15%; left: 46%"
      width="32"
      height="40"
      viewBox="0 0 32 40"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M16.5 7C16.1667 10.8333 16.5 19.2 20.5 22C25.5 25.5 20 34 10 32"
        stroke="#171921"
        stroke-width="4"
      />
    </svg>
  }
}
